# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

src/GSNP/README

*.h

*.cc

*.cpp

*.cu

src/GSNP/makefile

src/GSNP/thrust/CHANGELOG

*.inl
